<div class="body">

<%= render "users/header" %>

<div class="container">


<h2>User info</h2>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h3><%= @user.errors.count %> error prohibited this obj from being saved:</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
<p><label>Name</label>
<%= f.text_field :name, placeholder:current_user.name %></p>



<p><label>Image</label></p>
<p>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60%>
<%= f.attachment_field :profile_image, placeholder: "プロフィール画像"%>
</p>

<p><label>Introduction</label>
<%= f.text_area :introduction%></p>

<%= f.submit "Update User" %>

<% end %>

</div>

 <%= render 'users/footer' %>

</div>