 <div class="body">

<%= render "users/header" %>

<div class="container">

<% if flash[:error].present? %>
  <div id="error_explanation" class="alert alert-danger">
    <h3><%= flash[:error].count %> error prohibited this obj from being saved:</h3>
    <ul>
      <% flash[:error].each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">

 <%= render 'users/sidebar', users: @book %>

  <div class="col-xs-9">
    <h2>Books</h2>


  <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @book2.each do |book| %>
      <tr>
        <% if book.user.profile_image.nil? %>
        <td><%= image_tag "no_image.jpg",size:"40x40" %></td>
        <% else %>
        <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40  %></td>
        <% end %>
        <td><%= link_to book.title, book_path(book.id) %></td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
  </tbody>
</table>
  </div>
</div>

</div>

<%= render 'users/footer' %>

</div>