 <div class="body">

<%= render "users/header" %>

<div class="container">

 <%= render 'users/sidebar', users: @book %>

  <div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
		  <tbody><tr>
        <td><%= link_to user_path(@book2.user_id) do %>
           <%= attachment_image_tag @book2.user, :profile_image, :fill, 200, 200  %>
          <% end %><br>
          <%= @book2.user.name %>
     </td>
        <td><%= link_to @book2.title, book_path(@book2) %></td>
        <td><%= @book2.body%></td>

          <td><%= link_to "Edit", edit_book_path(@book2)%></td>
          <td><%= link_to "Destroy", book_path(@book2), method: :delete %></td>
      </tr>
    </tbody></table>

  </div>

</div>

 <%= render 'users/footer' %>

</div>